<!DOCTYPE html>
<head>
    <title>Admin Portal | ACS Texas A&M</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>



<% if current_user.admin %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-muted">
  <a class="navbar-brand text-warning" href=<%=admin_path%>>
    <%= image_tag("ACS-logo-og.png", width: "30", height: "30") %>
         Admin Portal
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav navbar-nav-right ml-auto d-lg-flex align-items-center ">
      <li class="nav-item">
        <a class="nav-link" href=<%=url_for(:back)%>>Back</a>
      </li>
      <li class="nav-item dropdown-dark ">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("ACS-profile.png", width: "30", height: "30") %>
        </a>

        
        <div class="dropdown-menu dropdown-menu-right .bg-light" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="profile">Profile</a>
          <a class="dropdown-item" href=<%=root_path%>>Home</a>
          <div class="dropdown-divider bg-dark"></div>
          <a class="dropdown-item" href=<%=logout_path%>>Logout</a>
        </div>
      </li>
  </div>
</nav>
<%else%>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-nav text-muted">
  <a class="navbar-brand " href="<%=portal_path%>">
    <%= image_tag("ACS-logo-og.png", width: "30", height: "30") %>
         ACS Portal
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav navbar-nav-right ml-auto d-lg-flex align-items-center ">
      <li class="nav-item">
        <a class="nav-link" href=<%=portal_path%>>Back</a>
      </li>
      <li class="nav-item dropdown-dark ">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("ACS-profile.png", width: "30", height: "30") %>
        </a>

        
        <div class="dropdown-menu dropdown-menu-right .bg-light" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href=<%=portal_profile_path%>>Profile</a>
          <a class="dropdown-item" href=<%=root_path%>>Home</a>
          <div class="dropdown-divider bg-dark"></div>
          <a class="dropdown-item" href=<%=logout_path%>>Logout</a>
        </div>
      </li>
  </div>
</nav>
<%end%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>
<% minute = "" %>
<% if @meeting.minute < 10 %>
  <%minute = "0"%>
<%end%>
<p>
  <strong>Time:</strong>
  <%= @meeting.hour %>:<%= minute%><%= @meeting.minute %> <%= @meeting.format %>
</p>
<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
<b>Meeting Attendees</b> <br>
<% total_attendees = 0 %>
  <table>
  <tr> <td></td> </tr>
    <% @attendances.each do  |attendance| %>
      <% if attendance.meeting_ID == @meeting.meeting_ID %>
        <% @users.each do  |user| %>
          <% if attendance.student_ID == user.student_id %>
            <tr> 
              <td> - <%= user.student_id %></td>  <td> | <%= user.first  %> <%= user.last  %></td> <td><%= link_to 'Remove', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
              <% total_attendees += 1 %>
            </tr> 
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table> 
  <b>Total Attendees: </b> <% total_attendees%> 

   <%= form_with(model: @attendance) do |form| %>
    <th>
    <div class="field">
    <%= form.label :student_ID %>
    <%= form.select :student_ID, User.order(:last).map { |user| [user.last + ', ' + user.first, user.student_id] }, include_blank: true %>
    </div></th> <th>
    <div class="field">
      <%= form.hidden_field :meeting_ID, :value => @meeting.meeting_ID  %>
    </div>
    
    <div class="actions">
      <%= form.submit "Add Member" %>
    </div>
    </th> 
<% end %> 

</p>

<% if current_user.admin %>
<%= link_to 'Edit', edit_meeting_path(@meeting) %>
<%end%>