<!DOCTYPE html>
<head>
    <title>Admin Portal | ACS Texas A&M</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="admin">ACS Admin Portal</a>
  </div>
  <span class="navbar-text">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="home">Home<span class="sr-only">(current)</span></a>
      </li>
  </span>
</nav>

<center>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <div onclick="window.location.href = 'admin/calendar';" class="card" style="width: 18rem; margin-top: 30px;">
        <%= image_tag("ACS-calendar.png", width: "100%") %>
            <div class="card-body text-muted">
            <center>
            <p class="card-text">View & manage Calendar</p>
            </center>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div onclick="window.location.href = 'admin/emails';" class="card" style="width: 18rem; margin-top: 30px;">
        <%= image_tag("ACS-emails.png", width: "100%") %>
            <div class="card-body text-muted">
            <center>
            <p class="card-text">View & manage Email List</p>
            </center>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div onclick="window.location.href = 'admin/members';" class="card" style="width: 18rem; margin-top: 30px;">
        <%= image_tag("ACS-members.png", width: "100%") %>
            <div class="card-body text-muted">
            <center>
            <p class="card-text">View & manage club members</p>
            </center>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <div onclick="window.location.href = 'admin/meetings';" class="card" style="width: 18rem; margin-top: 30px;">
        <%= image_tag("ACS-events.png", width: "100%") %>
            <div class="card-body text-muted">
            <center>
            <p class="card-text">View & manage meetings</p>
            </center>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div onclick="window.location.href = 'admin/admins';" class="card" style="width: 18rem; margin-top: 30px;">
        <%= image_tag("ACS-admins.png", width: "100%") %>
            <div class="card-body text-muted">
            <center>
            <p class="card-text">View & manage admin access</p>
            </center>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div onclick="window.location.href = 'admin/dues';" class="card" style="width: 18rem; margin-top: 30px;">
        <%= image_tag("ACS-dues.png", width: "100%") %>
            <div class="card-body text-muted">
            <center>
            <p class="card-text">View & manage dues</p>
            </center>
            </div>
        </div>
    </div>
  </div>
</div>


</center>