<!DOCTYPE html>
<head>
    <title>Member Portal | ACS Texas A&M</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="../member">ACS Member Portal</a>
  </div>
  <span class="navbar-text">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="../member">Back<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="../home">Home<span class="sr-only">(current)</span></a>
      </li>
  </span>
</nav>


<center>

<p id="notice"><%= notice %></p>
<div class="container">
<h1>Calendar Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendarevents.each do |calendarevent| %>
      <tr>
        <td><%= calendarevent.name %></td>
        <td><%= calendarevent.description %></td>
        <td><%= calendarevent.start_time %></td>
        <td><%= calendarevent.end_time %></td>
        <td><%= link_to 'Show', calendarevent %></td>
        <td><%= link_to 'Edit', edit_calendarevent_path(calendarevent) %></td>
        <td><%= link_to 'Destroy', calendarevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= month_calendar(events: @calendarevents) do |date, calendarevents| %>
        <div class="day">    
            <%= date.day %>
            
        </div>
        <% calendarevents.each do |calendarevent| %>
            <div class="card-header">
            <div class="card-title">
                <%= calendarevent.name %>
                </div>
            </div>
            <% end %>
        <% end %>

<br>


</div>

</center>