<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendarevent.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendarevent.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendarevent.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendarevent.end_time %>
</p>

<%= link_to 'Edit', edit_calendarevent_path(@calendarevent) %> |
<%= link_to 'Back', admin_calendar_path %>
