<!doctype html>
<html lang="en">

<head>
    <title>Home | ACS Texas A&M</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
<div class = "portrait-navs">
    <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-nav p-4">
        <div class="main-nav">
        <ul>
            <a class ="selected-tab" href="home">Home</a>
            <a href="about">About</a>
            <a href="officer-team">Officer Team</a>
            <a href="general-meetings">General Meetings</a>
            <a href="https://secure.touchnet.com/C21490_ustores/web/store_main.jsp?STOREID=358"  target="_blank">Store</a>
            <a href="login">Login</a>
        </ul>
        </div>
    </div>
    </div>

    <nav class="navbar navbar-dark bg-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    </div>

    
</div>
<div class = "landscape-navs">
    <div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav text-muted">
    <a class="navbar-brand " href=<%=root_path%>>
        <%= image_tag("ACS-logo-og.png", width: "30", height: "30") %>
            American Chemical Society | Texas A&M
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav navbar-nav-right ml-auto d-lg-flex align-items-center ">
        <li class="nav-item dropdown-dark ">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("ACS-profile.png", width: "30", height: "30") %>
            </a>

            
            <div class="dropdown-menu dropdown-menu-right .bg-light" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user %>
                <% if current_user.admin %>
                    <a class="dropdown-item" href=<%=admin_path%>>Portal</a>
                <% else %>
                    <a class="dropdown-item" href=<%=portal_path%>>Portal</a>
                <% end %>
                <div class="dropdown-divider bg-dark"></div>
                <a class="dropdown-item" href=<%=logout_path%>>Logout</a>
            <% else %>
                <a class="dropdown-item" href=<%=login_path%>>Login</a>
            <%end%>
            </div>
        </li>
    </div>
    </nav>

    </div>

    <div class="main-nav">
        <a class ="selected-tab" href="home">Home</a>
        <a href="about">About</a>
        <a href="officer-team">Officer Team</a>
        <div class="drop">
        <a href="general-meetings">General Meetings</a>
        <div class="dropdown-content">
            <a href="outreach">Outreach</a>
            <a href="social-events">Social Events</a>
            <a href="career-development">Career Development</a>
        </div>
        </div>
        <a href="https://secure.touchnet.com/C21490_ustores/web/store_main.jsp?STOREID=358"  target="_blank">Store</a>
    </div>
</div>



<div class= "page-body">
    <center>
    <p id="notice"><%= notice %></p>
    </center>
    <div class= "page-heading">
        <div class = "home-img" align="center">
            <%= image_tag("ACS-Home1.png", width: "100%") %>
        </div>
    </div>

    <div class= "cpage-body">
        <h3>Howdy! We hold general meetings biweekly on Mondays at 6:00-7:30 p.m. in person.</h3>
        <h4>Join our <a href="https://calendar.google.com/calendar/u/0?cid=Y185ZGpqbXZvOXA2MG9lZ2Ywbmh1Y2c5cGhmOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t"  target="_blank">open meeting google calendar!</a></h4>

        <div class = "cards">
            <div onclick="window.location.href = 'general-meetings';" class = "card">
                <%= image_tag("ACS-HB-GM.png", width: "100%") %>
                <p>Biweekly general meetings are held throughout the fall and spring semesters from 6:00-7:30pm. Hear from chemists in all sorts of fields such as industry, medical, business, and academia! </p>
            </div>
            <div onclick="window.location.href = 'outreach';"class = "card">
                <%= image_tag("ACS-HB-O.png", width: "100%") %>
                <p>Interested in sharing science with the next generation? From the A&M Chemistry Open House to elementary school science nights ACS volunteers throughout the BCS area. </p>
            </div>
            <div onclick="window.location.href = 'career-development';"class = "card">
                <%= image_tag("ACS-HB-CD.png", width: "100%") %>
                <p>Interested in starting undergraduate research or getting comfortable with approaching professors? ACS offers opportunities to get to know professors to enrich your education here in A&M for the future.</p>
            </div>
        </div>
    
    </div>



    
</div>


<footer>
        <div class ="page-footer">
            <div class = "sub">
                <h4>Join our mailing list. Never miss an update</h4>
                <div class = "sub-b">
                    <%= link_to 'Subscribe', new_email_path %>
                </div>
            </div>
            <p> 2022 by Texas A&M American Chemical Society Student Affiliate Chapter.</p>
        </div>
</footer>

</body>

</html>