<%= form_with(model: due) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :semester_ID %>
    <%= form.text_field :semester_ID %>
  </div>

  <div class="field">
    <%= form.label :student_ID %>
    <%= form.number_field :student_ID %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid %>
  </div>

  <div class="field">
    <%= form.label :ammount %>
    <%= form.text_field :ammount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
