<%= stylesheet_link_tag "login.css" %>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<center>
      <p class="alert"><%= alert %></p>
    </center>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
            <%= image_tag("ACS-logo.png", class: "img-fluid", alt: "Logo of Aggie Chemical Society") %>
      </div>

      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!-- Email input -->
          <div class="form-outline mb-4">
              <%= f.email_field :email, autofocus: true, class: 'form-control form-control-lg', placeholder: 'Enter a vaild email address', autocomplete: "email" %>
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
              <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Enter password", autocomplete: "current-password" %>
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <% if devise_mapping.rememberable? %>
              <div class="form-check mb-0">
                <%= f.check_box :remember_me, class: "form-check-input me-2", id: "form2Example3" %>
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
            <% end %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "Log in", class: "btn btn-primary btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;"  %>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %>
                
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>
<center>
<a class="btn btn-danger mt-4" href="/home" role="button" style="color:black;">Back to Home Page</a>
</center>
