Testing rails
testtest
test
<h1>TEST</h1>

<% if current_member %>
<h2><%= current_member.email %></h2>
<%= link_to "Edit Account", edit_member_registration_path %>
<%= button_to "Logout", destroy_member_session_path, data: {turbo: "false"}, method: :delete %>

<% else %>
<%= link_to "Login", new_member_session_path %>
<%= link_to "Create Account", new_member_session_path %>

<% end %>